NODE_ENV=[development|production]
PORT=[3000|4000|5000]
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_URL=your_db_url
JWT_SECRET=your_jwt_secret_string
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
SEND_USER=your_email_sender_user
SEND_EMAIL_USER=your_email_user
BREVO_API_KEY=your_resend_api_key